* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(156, 156, 156);
}

a { 
    color: rgb(156, 156, 156);
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 30px;
}

/* nav */

nav {
    width: 770px;
    margin: 0 auto;
}

nav * {
    vertical-align: middle;
}

nav #logo {
    width: 53px;
    margin-top: 10px;
    margin-right: 10px;
}

nav h1 {
    display: inline-block;
    margin-top: 10px;
}

nav h1 a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(204, 149, 67);
}

#nav-right {
    float: right;
    margin-top: 30px;
}

#nav-right ul {
    list-style: none;
    display: inline-block;
    border-right: 2px solid #828282;
    margin-right: 18px;
}

#nav-right ul li {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}

#nav-right ul li a {
    color: #828282;
}

#nav-right img {
    width: 30px;
    border-radius: 100%;
}

/* main */

main {
    width: 100%;
    background-image: linear-gradient(white, rgb(241, 241, 241));
}

#main-container {
    text-align: center;
    width: 590px;
    margin: 0 auto;
}

main h1 {
    color: rgb(204, 149, 67);
    margin-top: 60px;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 40px;
}

/* user card */

#user-card {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 15px rgb(223, 223, 223);
    color: rgb(74, 74, 74);
    padding: 40px;
}

#user-card * {
    display: inline-block;
    vertical-align: middle;
}

#user-card img {
    width: 100px;
    border-radius: 100%;
    margin-right: 20px;
}

#user-card h2 {
    font-weight: normal;
    margin-right: 20px;
}

#user-card p {
    width: 180px;
    text-align: left;
}

/* skills */

h3 {
    color: #828282;
    font-size: 22px;
    margin: 100px 0 30px;
}

#description {
    margin-bottom: 100px;
}

.skill-item {
    border-bottom: 1px solid rgb(231, 231, 231);
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.skill-item img,
.skill-item div,
.skill-item a {
    display: inline-block;
    vertical-align: middle;
}

.skill-item img {
    width: 110px;
    box-shadow: 0 0 15px rgb(223, 223, 223);
    border-radius: 100%;
    margin-right: 25px;
    padding: 10px;
}

.skill-item div {
    width: 250px;
    text-align: left;
    color: 
}

.skill-item a {
    background-color: #6abfc3;
    color: white;
    box-shadow: 0 0 5px rgb(138, 138, 138); 
    padding: 20px 60px;
    font-weight: bold;
    border-radius: 5px;
    width: 192px;
}

/* questions */

h3 {
    font-weight: normal;
    font-size: 30px;
}

#discord {
    display: inline-block;
    background-color: #cc9543;
    color: white;
    box-shadow: 0 0 5px rgb(138, 138, 138); 
    padding: 20px 0;
    font-weight: bold;
    border-radius: 5px;
    width: 192px;
    margin: 50px;
}

/* footer */

footer {
    width: 900px;
    margin: 0 auto;
    padding: 100px 0;
}

footer * {
    vertical-align: middle;
}

footer img {
    width: 53px;
    display: inline-block;
}

footer h1 {
    display: inline-block;
    color: #cc9543;
    font-size: 20px;
    text-transform: uppercase;
}

footer h1 a {
    color: #cc9543;
}

footer ul {
    list-style: none;
    font-weight: bold;
    float: right;
    margin-left: 60px;
}

footer ul li {
    margin-bottom: 10px;
}